.one{
    background-color: aquamarine;

    @media screen and (min-width: 320px) {
        height: 800px;
        padding: 0 20px;
    }
    

}

.one__box{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

